body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #4a4e50;
  color: #fff;
  font-family: 'Oswald', sans-serif;
}
#form {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#bal {
  text-align: center;
  color: #fff;
}
div {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
input {
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}
